/PCConfigurationTool/.vs
/PCConfigurationTool/PCConfiguration.Core/obj
/PCConfigurationTool/PCConfiguration.Core/bin
/PCConfigurationTool/PCConfigurationClient/obj
/PCConfigurationTool/PCConfigurationClient/bin
/PCConfigurationTool/PCCOnfiguration.Data/obj
/PCConfigurationTool/PCCOnfiguration.Data/bin
/.vs
/PCConfigurationTool/ClassLibrary1/bin/Debug/netcoreapp3.1
